
body{
	background-image:url("Images/SpeakersFade.jpg");
	 background-color: #484848;
}
header{
	height:15em;
	background-color:#484848;
}
img.mike{
	position:relative;
	height:5em;
	width:5em;
	top:10em;
}
#bannar{
	text-align: center;
}
#bannar .beginning.big{
	  font-size: 2em;
	  color:#FF00FF;
}
#bannar .middle.big{
	font-size:2em;
	color:#00CCFF;
}
#bannar .end.big{
	font-size:2em;
	color:#B2F0FF;
}
#bannar .beginning.smaller{
	  font-size: 1em;
	  color:#FF00FF;
}
#bannar .middle.smaller{
	font-size:1em;
	color:#00CCFF;
}
#bannar .end.smaller{
	font-size:1em;
	color:#B2F0FF;
}
p#login{
	position:relative;
	left:70em;
	top:2em;
	text-align: center;
	padding:1em;
	background-color:#F8F8F8;
	height:2em;
	width:7em;
	border-radius:3em;
}
#gradient{
	height:.5em;
	width:80em;
	background:-webkit-linear-gradient(left,#FF00FF,#B2F0FF);
	position:relative;
	bottom:1em;
}

p.blog{
	float:left;
	background:-webkit-linear-gradient(left,#FF00FF,#B2F0FF);
	margin:1em;
	padding:1em;
}
p.blog#left{
	padding:none;
	background:none;
}
p.blog#center{
	width:25em;
	height:30em;
}
p.blog#side{
	width:15em;
	height:25em;
}
img.firework{
	width:10em;
	height:15em;
	position:relative;
	right:50em;
	bottom:8em;
}
footer{
	position:relative;
	top:5em;
	right:2.5em;
	text-align:center;
	color:#F8F8F8;
}
ul #navBar li{
	list-style-type:none;
}
ul#navBar li{
	display:inline;