#bannar{
	position:relative;
	text-align: center;
	top:3em;
}
#bannar .beginning.big{
	  font-size: 2em;
	  color:#FF00FF;
}
#bannar .middle.big{
	font-size:2em;
	color:#00CCFF;
}
#bannar .end.big{
	font-size:2em;
	color:#B2F0FF;
}
#bannar .beginning.smaller{
	  font-size: 1em;
	  color:#FF00FF;
}
#bannar .middle.smaller{
	font-size:1em;
	color:#00CCFF;
}
#bannar .end.smaller{
	font-size:1em;
	color:#B2F0FF;
}
body{
	background-image:url("1-images/SpeakersFade.jpg");
	 background-color: #484848;
	 font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;

}
header{
	background-color: #484848;
	height:8em;
	position:relative;
}
img.mike{
	height:5em;
	width:5em;
	position:absolute;
	top:3em;
}
/*img.mike:hover{
	-webkit-transform:rotate(10deg);
	-ms-transform:rotate(10deg);
	transform:(10deg);
}*/

#gradientLine{
	height:.5em;
	width:80em;
	background:-webkit-linear-gradient(left,#FF00FF,#B2F0FF);
	position:relative;
	top:3em;
}


html{
	max-width:80em;
}
img.medium{
	height:10em;
	width:7.5em;
}
img.medium:hover
{
	-ms-transform: skew(-30deg, 20deg) ;
	-webkiet-transform: skew(-30deg, 20deg) ;
	transform: skew(-30deg, 20deg) ;
}
img.small{
	height:7.5em;
	width:5em;
	display:block;
	margin:0em auto;
}
div img.small
{
	height:7.5em;
	width:5em;
	display:block;
	margin:0em auto;
}
p.gradient{
	height: 8em;
	width:20em;
	background:-webkit-linear-gradient(left,#FF00FF,#B2F0FF);
	color:black ;
	font-size: 15px;

	-webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease;  
    -o-transition: all 0.3s ease;  
    transition: all 0.3s ease; 
}
div p.gradient:hover
{
	color:white;
	font-size: 18px;
}

div p.gradient{
	display:inline-block;
}

	/*opacity: .7;
	-webkit-transition: opacity 0.3s ease; 
    -moz-transition: opacity 0.3s ease; 
    -o-transition: opacity 0.3s ease; 
    transition: opacity 0.3s ease;
}
div p.gradient:hover
{
		opacity: 1 ;
}*/

content{
	text-align: center;
}

p#login{

float:right;
	text-align: center;
	padding:1em;
	background-color:#F8F8F8;
	height:2em;
	width:7em;
	opacity: 1.0 ;
	color:black;
	-webkit-transition:background 2.0s ease, opacity 0.5 ease, color 0.3s ease;
	-moz-transition:background 2.0s ease, opacity 0.5 ease, color 0.3s ease; 
	-o-transition: background 2.0s ease, opacity 0.5 ease, color 0.3s ease;
	transition: background 2.0s ease, opacity 0.5 ease, color 0.3s ease;

	-webkit-transition-delay: 0.5s;
}
p#login:hover
{
	background-color:#FF00FF;
	opacity:.4;
	color: #B2F0FF;
}
/*
p#login:hover
{
	border-radius:3em;
}*/

#bottomNav ul li{
	list-style-type:none;
	display:inline;
	color:#F8F8F8;
}
p.blog{
	float:left;
	background:-webkit-linear-gradient(left,#FF00FF,#B2F0FF);
	margin:1em;
	padding:1em;
}
p.blog#left{
	padding:none;
	background:none;
}
p.blog#center{
	width:25em;
	height:30em;
}
p.blog#side{
	width:15em;
	height:25em;
	text-decoration:none;
	color:black;
	-webkit-transition: all .5s ease;
}
p.blog#side:hover
{
text-decoration:underline;
color:#B2F0FF;
}
/*
p.blog#side:hover
{
	-ms-transform: translate(1px,2px);
	-webkit-transform: translate(1px, 2px);
	transform: translate (1px, 2px) ;
}
img.bargraph:hover
{
	box-shadow:
		1px 1px #53a7ea;
		2px 2px #53a7ea;
		3px 3px #53a7ea ;
	-webkid-transform: translateX(-3px);
	transform: translateX(-3px);
}
*/
img.bargraph:hover
{
	-webkit-transform: scale(1.5);
	-ms-transform:  scale(1.5);
	transform:  scale(1.5);
		

}
img.firework{
	width:10em;
	height:15em;
	position:relative;
	right:50em;
	bottom:8em;
}
/*
img.firework:hover
{
	-webkit-transform: scale(1.5);
	-ms-transform: scale (1.5);
	transform: scale (1.5);
}
*/
footer{
	position:relative;
	top:5em;
	right:2.5em;
	text-align:center;
	color:#F8F8F8;
}
ul#navBar li{
	list-style-type:none;
	display:inline;
	background-color: none;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
ul#navBar li:hover{
	background-color:#484848;
	padding:1px;
}