header p 
{
  float: right;
  display: inline;
  padding: 1em; 
}
body {
            font-family: Helvetica ;
            line-height: 1.5em ;
        }

        .red_background {
            background: red ;
        }

        .green_background {
            background: green ;
            color: white ;
        }
        .user_error_message {
            background: rgba( 240,0,0,0.5) ;
        }
        .error_field {
            border: 3px solid red ;
        }

header p:hover 
{
  border-radius: 3px;
  background-color: #FF00FF;
  padding: 1em; 
}
header h1{
  text-align: center;
}

img.mic 
{
  /*margin-top: 1em;*/
  height: 5em;
  width: 5em; 
  position:absolute;
top:3em;
}
 img.gradient-color
 {
  position:absolute;
  top:10.2em;
 }
 form p
 {
  color: blue;
 }
p.cool
 {
  color:red;
 }
 form
 {
  margin-top:10em;
 }

