body {
    font-family: Helvetica ;
    line-height: 1.5em ;
    background-image: url("imgs/speakersFade.jpg");
}

header p
{
  float: right;
  display: inline;
  padding: 1em;
  color:white;
}

header p:hover 
{
  border-radius: 3px;
  background-color: #FF00FF;
  padding: 1em; 
}
header h1{
  text-align: center;
  color:#bbeeff;
}

img.mic 
{
  /*margin-top: 1em;*/
  height: 5em;
  width: 5em; 
  position:absolute;
top:3em;
}
 img.gradient-color
 {
  position:absolute;
  top:10.2em;
 }
  form
 {
    margin-top:130px;
 }

 label{
     color:white;
     display:block;
 }
 #submit{
     margin-top:10px;
     display:block;
 }

 input:hover{
  border:solid;
  border-color:#bbeeff;
  border-width:4px;
 }
/*#container1{*/
    /*border:1px solid red;*/
    /*margin-top:100px;*/
    /*margin-right:10px;*/
    /*height:300px;*/
    /*float:left;*/
/*}*/

/*#container2.hidden{*/
    /*width:200px;*/
    /*height:100px;*/
    /*border:1px solid red;*/
    /*margin-top:175px;*/
    /*margin-right:50px;*/
    /*float:left;*/
    /*color:red;*/
    /*visibility: hidden;*/
/*}*/
/*#container2.show{*/
    /*width:200px;*/
    /*height:100px;*/
    /*border:1px solid red;*/
    /*margin-top:175px;*/
    /*margin-right:50px;*/
    /*float:left;*/
    /*color:red;*/

/*}*/

#feedback{
    /*width:200px;*/
    /*height:100px;*/
    /*border:1px solid red;*/
    /*margin-top:175px;*/
    /*margin-right:50px;*/
    /*float:left;*/
    color:red;
}
#feedback1 {
    color: red;
}

#feedback2 {
    color: red;
}
